## Exploring eBay Car Sales Data

This project aims to clean and analyze the eBay Car Sales Data. We'll be using both the pandas and NumPy libraries in order to achieve the objective above.

### Loading the data:

In [1]:
import pandas as pd
import numpy as np

### Reading the file:

In [2]:
autos = pd.read_csv("autos.csv", index_col = False, encoding = 'Latin-1')

In [3]:
autos # prints the head and tail of the autos dataframe

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,privat,Angebot,"$24,900",control,limousine,2011,automatik,239,q5,"100,000km",1,diesel,audi,nein,2016-03-27 00:00:00,0,82131,2016-04-01 13:47:40
49996,2016-03-28 10:50:25,Opel_Astra_F_Cabrio_Bertone_Edition___TÜV_neu+...,privat,Angebot,"$1,980",control,cabrio,1996,manuell,75,astra,"150,000km",5,benzin,opel,nein,2016-03-28 00:00:00,0,44807,2016-04-02 14:18:02
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,"$13,200",test,cabrio,2014,automatik,69,500,"5,000km",11,benzin,fiat,nein,2016-04-02 00:00:00,0,73430,2016-04-04 11:47:27
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,"$22,900",control,kombi,2013,manuell,150,a3,"40,000km",11,diesel,audi,nein,2016-03-08 00:00:00,0,35683,2016-04-05 16:45:07
49999,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,privat,Angebot,"$1,250",control,limousine,1996,manuell,101,vectra,"150,000km",1,benzin,opel,nein,2016-03-13 00:00:00,0,45897,2016-04-06 21:18:48

The autos dataframe contains 50,000 rows and 19 columns.Of the mentioned columns, 5 of them are numeric, whereas the rest are non-numeric columns. 

The following columns were found to have missing data:
- vehicleType
- gearbox
- model
- fuelType
- notRepairedDamage

Column names are also observed to be in camelcase instead of snakecase. Thus, we'll be modifying the column names in the following section.

In [4]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dateCrawled          50000 non-null  object
 1   name                 50000 non-null  object
 2   seller               50000 non-null  object
 3   offerType            50000 non-null  object
 4   price                50000 non-null  object
 5   abtest               50000 non-null  object
 6   vehicleType          44905 non-null  object
 7   yearOfRegistration   50000 non-null  int64
 8   gearbox              47320 non-null  object
 9   powerPS              50000 non-null  int64
 10  model                47242 non-null  object
 11  odometer             50000 non-null  object
 12  monthOfRegistration  50000 non-null  int64
 13  fuelType             45518 non-null  object
 14  brand                50000 non-null  object
 15  notRepairedDamage    40171 non-null  object
 16  dateCreated          50000 non-null  object
 17  nrOfPictures         50000 non-null  int64
 18  postalCode           50000 non-null  int64
 19  lastSeen             50000 non-null  object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

Here are the first five rows of the autos dataframe:

In [5]:
autos.head(5)

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

### Modifying the column names

Variable names can be difficult to read when it is in camelcase since there is no separation in each word. Thus, for this dataframe, we'll be implementing the snakecase for each columnname in order to improve the readability of the variables.

In [6]:
autos.columns # Print first the original columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

Create modified names in snakecase:

In [7]:
snakecase_cols = np.array(['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest', 'vehicle_type',
       'registration_year', 'gearbox', 'power_in_ps', 'model', 'odometer',
       'registration_month', 'fuel_type', 'brand', 'unrepaired_damage',
       'ad_created', 'number_of_pictures', 'postal_code', 'last_seen'])

In [8]:
autos.columns = snakecase_cols # re-assign modified column names

To verify the output:

In [9]:
autos.head(5)

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_in_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,number_of_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

### Exploring the data

We'll now be investigating any abnormalities in the data using the describe function. 

The following observations were taken after an initial inspection:

- Seller and offer type seem to have a unique value which comprises majority of their columns. These columns may be dropped.
- Registration year has a max value of 9999 (instead of the year 2000's)
- There is no variation in the number of pictures (all values are 0).
- Price and odometer are currently in text format when in fact they should be in numeric

In [10]:
autos.describe(include="all")

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_in_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,number_of_pictures,postal_code,last_seen
count,50000,50000,50000,50000,50000,50000,44905,50000.000000,47320,50000.000000,47242,50000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000
unique,48213,38754,2,2,2357,2,8,NaN,2,NaN,245,13,NaN,7,40,2,76,NaN,NaN,39481
top,2016-03-12 16:06:22,Ford_Fiesta,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,golf,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,NaN,36993,NaN,4024,32424,NaN,30107,10687,35232,1946,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.073280,NaN,116.355920,NaN,NaN,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.712813,NaN,209.216627,NaN,NaN,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,70.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,105.000000,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,17700.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

### Converting text columns to numeric

Since both price and odometers should be numeric, the process below outlines the steps on how these columns are converted to the proper data type.

In [11]:
autos['price'].value_counts().head(5)

$0        1421
$500       781
$1,500     734
$2,500     643
$1,000     639
Name: price, dtype: int64

In [12]:
autos['odometer'].value_counts().tail(5)

5,000km     967
40,000km    819
30,000km    789
20,000km    784
10,000km    264
Name: odometer, dtype: int64

In [13]:
pr_int = []
odo_int = []

def txt_to_str(string):
    string = string.replace("$", "")
    string = string.replace(",", "")
    string = string.replace("km", "")
    return(int(string))

for pr in autos['price']:
    pr_int.append(txt_to_str(pr))
    
for odo in autos['odometer']:
    odo_int.append(txt_to_str(odo))

In [14]:
pr_int[:5]

[5000, 8500, 8990, 4350, 1350]

In [15]:
odo_int[:5]

[150000, 150000, 70000, 70000, 150000]

In [16]:
autos['price'] = pr_int
autos['price'].head(5)

0    5000
1    8500
2    8990
3    4350
4    1350
Name: price, dtype: int64

In [17]:
autos['odometer'] = odo_int
autos['odometer'].head(5)

0    150000
1    150000
2     70000
3     70000
4    150000
Name: odometer, dtype: int64

In [18]:
autos.rename({'odometer':'odometer_km'}, axis=1, inplace=True)

Verify the output:

In [19]:
autos.head(5)

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_in_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,number_of_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,5000,control,bus,2004,manuell,158,andere,150000,3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,8500,control,limousine,1997,automatik,286,7er,150000,6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,8990,test,limousine,2009,manuell,102,golf,70000,7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,4350,control,kleinwagen,2007,automatik,71,fortwo,70000,6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,1350,test,kombi,2003,manuell,0,focus,150000,7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

### Exploring the cleaned columns

After converting the numeric columns, we'll be looking into the values of the columns to see if there are any discrepancies.

We'll start off first with the Price column:

In [20]:
autos['price'].unique().shape

(2357,)

In [21]:
autos['price'].describe()

count    5.000000e+04
mean     9.840044e+03
std      4.811044e+05
min      0.000000e+00
25%      1.100000e+03
50%      2.950000e+03
75%      7.200000e+03
max      1.000000e+08
Name: price, dtype: float64

In [22]:
autos['price'].value_counts().sort_index(ascending=True).head(20)

0     1421
1      156
2        3
3        1
5        2
8        1
9        1
10       7
11       2
12       3
13       2
14       1
15       2
17       3
18       1
20       4
25       5
29       1
30       7
35       1
Name: price, dtype: int64

In [23]:
autos['price'].value_counts().sort_index(ascending=False).head(25)

99999999    1
27322222    1
12345678    3
11111111    2
10000000    1
3890000     1
1300000     1
1234566     1
999999      2
999990      1
350000      1
345000      1
299000      1
295000      1
265000      1
259000      1
250000      1
220000      1
198000      1
197000      1
194000      1
190000      1
180000      1
175000      1
169999      1
Name: price, dtype: int64

In [24]:
autos = autos[autos['price'].between(0, 20000)]

In [25]:
autos.shape

(47653, 20)

We'll then proceed with the Odometer column:

In [26]:
autos['odometer_km'].unique().shape

(13,)

In [27]:
autos['odometer_km'].describe()

count     47653.000000
mean     128442.595429
std       37718.011797
min        5000.000000
25%      125000.000000
50%      150000.000000
75%      150000.000000
max      150000.000000
Name: odometer_km, dtype: float64

In [28]:
autos['odometer_km'].value_counts().sort_index(ascending=True)

5000        885
10000       166
20000       532
30000       571
40000       620
50000       818
60000       977
70000      1073
80000      1305
90000      1626
100000     2015
125000     4984
150000    32081
Name: odometer_km, dtype: int64

In [29]:
autos = autos[autos['odometer_km'].between(50000, 150000)]

Rougly 10,000 observations were removed as a result of the data cleaning. The price column is a lot more normally distributed and the odometer_km column has less of a problem now.

In [30]:
autos.shape

(44879, 20)

In [31]:
autos.describe(include = [np.number])

,price,registration_year,power_in_ps,odometer_km,registration_month,number_of_pictures,postal_code
count,44879.000000,44879.000000,44879.000000,44879.000000,44879.000000,44879.0,44879.000000
mean,4215.974376,2003.108336,111.857885,135074.756568,5.744714,0.0,50599.899597
std,4319.636578,33.767519,202.488151,27266.105918,3.717269,0.0,25722.210849
min,0.000000,1910.000000,0.000000,50000.000000,0.000000,0.0,1067.000000
25%,1000.000000,1999.000000,69.000000,125000.000000,3.000000,0.0,30169.000000
50%,2600.000000,2003.000000,105.000000,150000.000000,6.000000,0.0,49393.000000
75%,5999.000000,2007.000000,143.000000,150000.000000,9.000000,0.0,71126.000000
max,20000.000000,9000.000000,17700.000000,150000.000000,12.000000,0.0,99998.000000

### Exploring the date columns

After cleaning the numeric columns, we'll now go through the date columns. Here are the five columns representing the dates:

- `date_crawled`: added by the crawler
- `last_seen`: added by the crawler
- `ad_created`: from the website
- `registration_month`: from the website
- `registration_year`: from the website

Of the mentioned columns, the first three are identified as strings. Since the first three are strings, we'll be converting them into the date format and generate a Frequency distribution Table using proportions:

In [32]:
date_crawled_clean = autos['date_crawled'].str[:10]
date_crawled_clean.value_counts(normalize=True, dropna=False).sort_index(ascending=True)

2016-03-05    0.025357
2016-03-06    0.013949
2016-03-07    0.035986
2016-03-08    0.033980
2016-03-09    0.033334
2016-03-10    0.032265
2016-03-11    0.031930
2016-03-12    0.037256
2016-03-13    0.015286
2016-03-14    0.036988
2016-03-15    0.033757
2016-03-16    0.029524
2016-03-17    0.031351
2016-03-18    0.013013
2016-03-19    0.034805
2016-03-20    0.037768
2016-03-21    0.037501
2016-03-22    0.032777
2016-03-23    0.032376
2016-03-24    0.028989
2016-03-25    0.031886
2016-03-26    0.033022
2016-03-27    0.030638
2016-03-28    0.034805
2016-03-29    0.034159
2016-03-30    0.033668
2016-03-31    0.031819
2016-04-01    0.033379
2016-04-02    0.035384
2016-04-03    0.038392
2016-04-04    0.036743
2016-04-05    0.013258
2016-04-06    0.003231
2016-04-07    0.001426
Name: date_crawled, dtype: float64

The dates added by the crawler seem to be normally distributed.

In [33]:
ad_dates_cleaned = autos['ad_created'].str[:10]
ad_dates_cleaned.value_counts(normalize=True, dropna=False).sort_index(ascending=True)

2015-08-10    0.000022
2015-09-09    0.000022
2015-11-10    0.000022
2015-12-05    0.000022
2015-12-30    0.000022
                ...
2016-04-03    0.038660
2016-04-04    0.037189
2016-04-05    0.011921
2016-04-06    0.003298
2016-04-07    0.001292
Name: ad_created, Length: 73, dtype: float64

The dates when the ads were created also seem to be normally distributed.

In [34]:
last_seen_dates = autos['last_seen'].str[:10]
last_seen_dates.value_counts(normalize=True, dropna=False).sort_values(ascending=True)

2016-03-05    0.001070
2016-03-06    0.004657
2016-03-07    0.005660
2016-03-18    0.007509
2016-03-08    0.008088
2016-03-13    0.009247
2016-03-09    0.010272
2016-03-10    0.010963
2016-03-14    0.012968
2016-03-11    0.013302
2016-03-15    0.016155
2016-03-27    0.016377
2016-03-19    0.016444
2016-03-16    0.016934
2016-03-26    0.017202
2016-03-23    0.018962
2016-03-25    0.019787
2016-03-24    0.020254
2016-03-21    0.021279
2016-03-28    0.021525
2016-03-20    0.021547
2016-03-22    0.022059
2016-03-29    0.023218
2016-04-01    0.023686
2016-03-12    0.024310
2016-03-31    0.024354
2016-04-02    0.025112
2016-04-04    0.025223
2016-04-03    0.025402
2016-03-30    0.025558
2016-03-17    0.028878
2016-04-05    0.120881
2016-04-07    0.125760
2016-04-06    0.215357
Name: last_seen, dtype: float64

Last seen dates tends to be more prominent in recent dates compared to previous/past days.

In [35]:
autos['registration_year'].describe()

count    44879.000000
mean      2003.108336
std         33.767519
min       1910.000000
25%       1999.000000
50%       2003.000000
75%       2007.000000
max       9000.000000
Name: registration_year, dtype: float64

The max value in the registration year is not a valid year.

### Cleaning the Year Columns

Since we've identified anomalies in the registration years, we'll be making changes for these columns. 

We'll first check which years are acceptable as min and max years

In [36]:
autos['registration_year'].value_counts().sort_values(ascending=True).head(20)

1952     1
9000     1
1934     1
1950     1
1953     1
1948     1
1937     1
1910     2
1954     2
1962     2
2019     2
1961     2
1956     3
1958     3
1959     4
2015     5
1963     7
1964     8
1968    11
1969    11
Name: registration_year, dtype: int64

1900 - 2016 seem to be the optimal interval. We'll know be using these values to filter out the dataset below:

In [37]:
autos = autos[autos['registration_year'].between(1900, 2016)]

In [38]:
autos['registration_year'].value_counts()

2000    3200
1999    2927
2005    2903
2003    2677
2004    2670
        ...
1937       1
1953       1
1948       1
1950       1
1952       1
Name: registration_year, Length: 68, dtype: int64

### Exploring variations in top brands

We'll be exploring one of the analysis techniques which is aggregation. We'll start in this dataset by picking out the brands that make up more than 5% of the total dataset:

In [39]:
autos['brand'].value_counts(normalize=True, dropna=False).head(7).index

Index(['volkswagen', 'opel', 'bmw', 'mercedes_benz', 'audi', 'ford',
       'renault'],
      dtype='object')

The following brands of cars that were chosen are:

- volkswagen
- opel
- bmw
- mercedes_benz
- ford
- audi
- renault

We'll now explore the top brands based on average price:

In [40]:
top_brands = autos['brand'].value_counts(normalize=True, dropna=False).head(7).index
aggregated_prices = {}

for brand in top_brands:
    selected_rows = autos[autos['brand'] == brand]
    mean_price = selected_rows['price'].mean()
    aggregated_prices[brand] = mean_price
    
print(aggregated_prices)

{'volkswagen': 4257.953316162267, 'opel': 2561.8433340159736, 'bmw': 6138.046778651924, 'mercedes_benz': 5886.9754139488205, 'audi': 6178.438873239436, 'ford': 2869.277202072539, 'renault': 2048.757363253857}

Looking at the aggregated data below, we can see that each brand as a corresponding average price. Based on the top brands below, the brand with the highest average price is the BMW whereas the brand with the lowest price is the Renault.

To summarize, here are the findings of the following brands:
- The top brands based on average price are BMW, Mercedez Benz, and Audi
- Ford, Opel, and Renault are the least expensive brands.
- Volkswagen is in between.

In [41]:
aggregated_prices

{'volkswagen': 4257.953316162267,
 'opel': 2561.8433340159736,
 'bmw': 6138.046778651924,
 'mercedes_benz': 5886.9754139488205,
 'audi': 6178.438873239436,
 'ford': 2869.277202072539,
 'renault': 2048.757363253857}

Since there is a price gap within the top 6 brands, we'll use aggregation to understand the the average mileage for those cars and if there's any visible link with mean price.

We'll use the same process as above in computing the average price:

In [42]:
aggregated_miles = {}

for brand in top_brands:
    selected_rows = autos[autos['brand'] == brand]
    selected_rows['odometer_km'] = selected_rows['odometer_km'] * 0.621371
    mean_price = selected_rows['odometer_km'].mean()
    aggregated_miles[brand] = mean_price
    
print(aggregated_miles)

{'volkswagen': 85341.15237336338, 'opel': 84598.96812717592, 'bmw': 87464.93769934085, 'mercedes_benz': 87112.75347842449, 'audi': 87734.08451830984, 'ford': 82158.60728626943, 'renault': 83781.95891070594}

<ipython-input-42-d73e0db30ef1>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_rows['odometer_km'] = selected_rows['odometer_km'] * 0.621371

In [43]:
mileage = pd.Series(aggregated_miles)
avg_price = pd.Series(aggregated_prices)

Based on the final output below, as the number of miles travelled per brand increases, the price of the brand also increases. This confirms that there is indeed a relationship between price and mileage.

In [44]:
df = pd.DataFrame(avg_price, columns = ['price'])
df['miles'] = mileage

df

                     price         miles
volkswagen     4257.953316  85341.152373
opel           2561.843334  84598.968127
bmw            6138.046779  87464.937699
mercedes_benz  5886.975414  87112.753478
audi           6178.438873  87734.084518
ford           2869.277202  82158.607286
renault        2048.757363  83781.958911

## Bonus: Additional Data Cleaning Actions

### Translating columns with German words into English:

Selecting columns with German words:

In [45]:
autos[['unrepaired_damage', 'gearbox', 'vehicle_type']]

      unrepaired_damage    gearbox vehicle_type
0                  nein    manuell          bus
1                  nein  automatik    limousine
2                  nein    manuell    limousine
3                  nein  automatik   kleinwagen
4                  nein    manuell        kombi
...                 ...        ...          ...
49992              nein    manuell   kleinwagen
49993               NaN    manuell   kleinwagen
49994              nein  automatik        kombi
49996              nein    manuell       cabrio
49999              nein    manuell    limousine

[43048 rows x 3 columns]

Translating responses to "yes" and "no":

In [46]:
autos['unrepaired_damage'].value_counts().index

Index(['nein', 'ja'], dtype='object')

In [47]:
autos_ud = {'nein':'no', 
           'ja':'yes'}

autos['unrepaired_damage'] = autos['unrepaired_damage'].map(autos_ud)
autos['unrepaired_damage']

0         no
1         no
2         no
3         no
4         no
        ...
49992     no
49993    NaN
49994     no
49996     no
49999     no
Name: unrepaired_damage, Length: 43048, dtype: object

Translating common transmitions to "automatic" and "manual":

In [48]:
autos['gearbox'].value_counts().index

Index(['manuell', 'automatik'], dtype='object')

In [49]:
autos_gearbox = {'manuell':'manual', 
           'automatik':'automatic'}

autos['gearbox'] = autos['gearbox'].map(autos_gearbox)
autos['gearbox']

0           manual
1        automatic
2           manual
3        automatic
4           manual
           ...
49992       manual
49993       manual
49994    automatic
49996       manual
49999       manual
Name: gearbox, Length: 43048, dtype: object

Translating some vehicle types to English:

In [50]:
autos['vehicle_type'].value_counts().index

Index(['limousine', 'kleinwagen', 'kombi', 'bus', 'cabrio', 'coupe', 'suv',
       'andere'],
      dtype='object')

In [51]:
autos_vehicle_type = {'limousine':'limousine', 
           'kleinwagen':'small car',
           'kombi':'combination motor vehicle',
            'bus':'bus',
            'cabrio':'convertible',
            'coupe':'coupe',
             'suv':'suv',
             'andere':'andere'}

autos['vehicle_type'] = autos['vehicle_type'].map(autos_vehicle_type)
autos['vehicle_type']

0                              bus
1                        limousine
2                        limousine
3                        small car
4        combination motor vehicle
                   ...
49992                    small car
49993                    small car
49994    combination motor vehicle
49996                  convertible
49999                    limousine
Name: vehicle_type, Length: 43048, dtype: object

Translating the seller types to English counterparts:

In [52]:
autos['seller'].value_counts()

privat        43047
gewerblich        1
Name: seller, dtype: int64

In [53]:
seller_renamed = {
    'privat':'private',
    'gewerblich':'commercial'
}
autos['seller'] = autos['seller'].map(seller_renamed)
autos['seller'].value_counts()

private       43047
commercial        1
Name: seller, dtype: int64

Translating the offer types to English counterparts:

In [54]:
autos['offer_type'].value_counts()

Angebot    43047
Gesuch         1
Name: offer_type, dtype: int64

In [55]:
offer_renamed = {
    'Angebot':'offer',
    'Gesuch':'searched'
}
autos['offer_type'] = autos['offer_type'].map(offer_renamed)
autos['offer_type'].value_counts()

offer       43047
searched        1
Name: offer_type, dtype: int64

Translating the 'andere' to others:

In [56]:
autos['model'].value_counts()

golf                  3507
andere                2952
3er                   2519
polo                  1579
corsa                 1561
                      ...
range_rover_evoque       1
i3                       1
200                      1
gl                       1
b_max                    1
Name: model, Length: 242, dtype: int64

In [57]:
all_models = autos['model'].value_counts().index.tolist()
all_models

['golf',
 'andere',
 '3er',
 'polo',
 'corsa',
 'passat',
 'astra',
 'a4',
 '5er',
 'c_klasse',
 'e_klasse',
 'a3',
 'a6',
 'focus',
 'fiesta',
 'twingo',
 'transporter',
 '2_reihe',
 'vectra',
 'a_klasse',
 '3_reihe',
 'mondeo',
 'fortwo',
 'clio',
 '1er',
 'punto',
 'touran',
 'zafira',
 'ka',
 'megane',
 'lupo',
 'ibiza',
 'octavia',
 'fabia',
 'clk',
 'micra',
 'cooper',
 'sharan',
 '80',
 'x_reihe',
 'caddy',
 'scenic',
 'omega',
 'laguna',
 'leon',
 'civic',
 '6_reihe',
 'galaxy',
 '1_reihe',
 'slk',
 'i_reihe',
 'meriva',
 'm_klasse',
 'yaris',
 'vito',
 '7er',
 'tt',
 'beetle',
 's_klasse',
 'colt',
 'mx_reihe',
 'b_klasse',
 'arosa',
 'transit',
 'escort',
 'bora',
 'kangoo',
 'berlingo',
 'z_reihe',
 'almera',
 'v70',
 'sprinter',
 'v40',
 '156',
 'tigra',
 'corolla',
 'espace',
 'one',
 'fox',
 '147',
 'grand',
 'primera',
 'swift',
 'seicento',
 'scirocco',
 'insignia',
 '4_reihe',
 'tiguan',
 'stilo',
 'touareg',
 'avensis',
 'c_max',
 'c5',
 'panda',
 '500',
 'signum',
 'a5',
 'c3',
 'a8',
 '100',
 'carisma',
 'qashqai',
 'cuore',
 'eos',
 'c4',
 'ducato',
 'agila',
 'matiz',
 '5_reihe',
 'sorento',
 'cr_reihe',
 'sl',
 'combo',
 'aygo',
 'c2',
 'getz',
 'vivaro',
 'voyager',
 'kaefer',
 'forfour',
 'rav',
 's_max',
 'santa',
 'a2',
 'superb',
 'doblo',
 'bravo',
 'xc_reihe',
 'c1',
 'cordoba',
 'kadett',
 'accord',
 'altea',
 'alhambra',
 'verso',
 'picanto',
 'toledo',
 'a1',
 'jetta',
 'logan',
 'sportage',
 'rio',
 'ptcruiser',
 'viano',
 'x_trail',
 '159',
 'freelander',
 'spider',
 'roomster',
 'cl',
 'roadster',
 'legacy',
 'jazz',
 'mustang',
 'carnival',
 'v50',
 'modus',
 'fusion',
 '850',
 'sandero',
 '601',
 'cayenne',
 'c_reihe',
 'pajero',
 'q7',
 'phaeton',
 'boxster',
 'tucson',
 'kuga',
 'auris',
 'jimny',
 'ceed',
 'galant',
 'up',
 'impreza',
 'captiva',
 'rx_reihe',
 'v_klasse',
 'lancer',
 'calibra',
 'clubman',
 'ypsilon',
 'cherokee',
 'antara',
 '6er',
 'note',
 'x_type',
 'justy',
 'aveo',
 'm_reihe',
 'duster',
 'navara',
 'cc',
 'outlander',
 'wrangler',
 's60',
 'kalos',
 '900',
 'yeti',
 's_type',
 'niva',
 'g_klasse',
 'forester',
 'spark',
 'sirion',
 'discovery',
 '300c',
 '911',
 'defender',
 'r19',
 'juke',
 'lanos',
 'q5',
 'terios',
 'lybra',
 '90',
 'nubira',
 'cx_reihe',
 'move',
 'exeo',
 'range_rover',
 'crossfire',
 '9000',
 'citigo',
 'range_rover_sport',
 'samara',
 'glk',
 'croma',
 'materia',
 'charade',
 'delta',
 '145',
 'kappa',
 'q3',
 'v60',
 'mii',
 'lodgy',
 'range_rover_evoque',
 'i3',
 '200',
 'gl',
 'b_max']

In [58]:
model_mapping = {}
for ml in all_models:
    if ml == 'andere':
        model_mapping['andere'] = 'others'
    else:
        model_mapping[ml] = ml
model_mapping

{'golf': 'golf',
 'andere': 'others',
 '3er': '3er',
 'polo': 'polo',
 'corsa': 'corsa',
 'passat': 'passat',
 'astra': 'astra',
 'a4': 'a4',
 '5er': '5er',
 'c_klasse': 'c_klasse',
 'e_klasse': 'e_klasse',
 'a3': 'a3',
 'a6': 'a6',
 'focus': 'focus',
 'fiesta': 'fiesta',
 'twingo': 'twingo',
 'transporter': 'transporter',
 '2_reihe': '2_reihe',
 'vectra': 'vectra',
 'a_klasse': 'a_klasse',
 '3_reihe': '3_reihe',
 'mondeo': 'mondeo',
 'fortwo': 'fortwo',
 'clio': 'clio',
 '1er': '1er',
 'punto': 'punto',
 'touran': 'touran',
 'zafira': 'zafira',
 'ka': 'ka',
 'megane': 'megane',
 'lupo': 'lupo',
 'ibiza': 'ibiza',
 'octavia': 'octavia',
 'fabia': 'fabia',
 'clk': 'clk',
 'micra': 'micra',
 'cooper': 'cooper',
 'sharan': 'sharan',
 '80': '80',
 'x_reihe': 'x_reihe',
 'caddy': 'caddy',
 'scenic': 'scenic',
 'omega': 'omega',
 'laguna': 'laguna',
 'leon': 'leon',
 'civic': 'civic',
 '6_reihe': '6_reihe',
 'galaxy': 'galaxy',
 '1_reihe': '1_reihe',
 'slk': 'slk',
 'i_reihe': 'i_reihe',
 'meriva': 'meriva',
 'm_klasse': 'm_klasse',
 'yaris': 'yaris',
 'vito': 'vito',
 '7er': '7er',
 'tt': 'tt',
 'beetle': 'beetle',
 's_klasse': 's_klasse',
 'colt': 'colt',
 'mx_reihe': 'mx_reihe',
 'b_klasse': 'b_klasse',
 'arosa': 'arosa',
 'transit': 'transit',
 'escort': 'escort',
 'bora': 'bora',
 'kangoo': 'kangoo',
 'berlingo': 'berlingo',
 'z_reihe': 'z_reihe',
 'almera': 'almera',
 'v70': 'v70',
 'sprinter': 'sprinter',
 'v40': 'v40',
 '156': '156',
 'tigra': 'tigra',
 'corolla': 'corolla',
 'espace': 'espace',
 'one': 'one',
 'fox': 'fox',
 '147': '147',
 'grand': 'grand',
 'primera': 'primera',
 'swift': 'swift',
 'seicento': 'seicento',
 'scirocco': 'scirocco',
 'insignia': 'insignia',
 '4_reihe': '4_reihe',
 'tiguan': 'tiguan',
 'stilo': 'stilo',
 'touareg': 'touareg',
 'avensis': 'avensis',
 'c_max': 'c_max',
 'c5': 'c5',
 'panda': 'panda',
 '500': '500',
 'signum': 'signum',
 'a5': 'a5',
 'c3': 'c3',
 'a8': 'a8',
 '100': '100',
 'carisma': 'carisma',
 'qashqai': 'qashqai',
 'cuore': 'cuore',
 'eos': 'eos',
 'c4': 'c4',
 'ducato': 'ducato',
 'agila': 'agila',
 'matiz': 'matiz',
 '5_reihe': '5_reihe',
 'sorento': 'sorento',
 'cr_reihe': 'cr_reihe',
 'sl': 'sl',
 'combo': 'combo',
 'aygo': 'aygo',
 'c2': 'c2',
 'getz': 'getz',
 'vivaro': 'vivaro',
 'voyager': 'voyager',
 'kaefer': 'kaefer',
 'forfour': 'forfour',
 'rav': 'rav',
 's_max': 's_max',
 'santa': 'santa',
 'a2': 'a2',
 'superb': 'superb',
 'doblo': 'doblo',
 'bravo': 'bravo',
 'xc_reihe': 'xc_reihe',
 'c1': 'c1',
 'cordoba': 'cordoba',
 'kadett': 'kadett',
 'accord': 'accord',
 'altea': 'altea',
 'alhambra': 'alhambra',
 'verso': 'verso',
 'picanto': 'picanto',
 'toledo': 'toledo',
 'a1': 'a1',
 'jetta': 'jetta',
 'logan': 'logan',
 'sportage': 'sportage',
 'rio': 'rio',
 'ptcruiser': 'ptcruiser',
 'viano': 'viano',
 'x_trail': 'x_trail',
 '159': '159',
 'freelander': 'freelander',
 'spider': 'spider',
 'roomster': 'roomster',
 'cl': 'cl',
 'roadster': 'roadster',
 'legacy': 'legacy',
 'jazz': 'jazz',
 'mustang': 'mustang',
 'carnival': 'carnival',
 'v50': 'v50',
 'modus': 'modus',
 'fusion': 'fusion',
 '850': '850',
 'sandero': 'sandero',
 '601': '601',
 'cayenne': 'cayenne',
 'c_reihe': 'c_reihe',
 'pajero': 'pajero',
 'q7': 'q7',
 'phaeton': 'phaeton',
 'boxster': 'boxster',
 'tucson': 'tucson',
 'kuga': 'kuga',
 'auris': 'auris',
 'jimny': 'jimny',
 'ceed': 'ceed',
 'galant': 'galant',
 'up': 'up',
 'impreza': 'impreza',
 'captiva': 'captiva',
 'rx_reihe': 'rx_reihe',
 'v_klasse': 'v_klasse',
 'lancer': 'lancer',
 'calibra': 'calibra',
 'clubman': 'clubman',
 'ypsilon': 'ypsilon',
 'cherokee': 'cherokee',
 'antara': 'antara',
 '6er': '6er',
 'note': 'note',
 'x_type': 'x_type',
 'justy': 'justy',
 'aveo': 'aveo',
 'm_reihe': 'm_reihe',
 'duster': 'duster',
 'navara': 'navara',
 'cc': 'cc',
 'outlander': 'outlander',
 'wrangler': 'wrangler',
 's60': 's60',
 'kalos': 'kalos',
 '900': '900',
 'yeti': 'yeti',
 's_type': 's_type',
 'niva': 'niva',
 'g_klasse': 'g_klasse',
 'forester': 'forester',
 'spark': 'spark',
 'sirion': 'sirion',
 'discovery': 'discovery',
 '300c': '300c',
 '911': '911',
 'defender': 'defender',
 'r19': 'r19',
 'juke': 'juke',
 'lanos': 'lanos',
 'q5': 'q5',
 'terios': 'terios',
 'lybra': 'lybra',
 '90': '90',
 'nubira': 'nubira',
 'cx_reihe': 'cx_reihe',
 'move': 'move',
 'exeo': 'exeo',
 'range_rover': 'range_rover',
 'crossfire': 'crossfire',
 '9000': '9000',
 'citigo': 'citigo',
 'range_rover_sport': 'range_rover_sport',
 'samara': 'samara',
 'glk': 'glk',
 'croma': 'croma',
 'materia': 'materia',
 'charade': 'charade',
 'delta': 'delta',
 '145': '145',
 'kappa': 'kappa',
 'q3': 'q3',
 'v60': 'v60',
 'mii': 'mii',
 'lodgy': 'lodgy',
 'range_rover_evoque': 'range_rover_evoque',
 'i3': 'i3',
 '200': '200',
 'gl': 'gl',
 'b_max': 'b_max'}

In [59]:
autos['model'] = autos['model'].map(model_mapping)
autos['model'].value_counts()

golf                  3507
others                2952
3er                   2519
polo                  1579
corsa                 1561
                      ...
range_rover_evoque       1
i3                       1
200                      1
gl                       1
b_max                    1
Name: model, Length: 242, dtype: int64

In [60]:
autos['fuel_type'].value_counts()

benzin     26361
diesel     12673
lpg          645
cng           65
hybrid        25
andere        12
elektro        4
Name: fuel_type, dtype: int64

Translating 'andere' and 'elektro' to 'others' and 'electro'

In [61]:
fuel_mapping = {}
for fuel in autos['fuel_type'].value_counts().index.tolist():
    if fuel == 'andere':
        fuel_mapping[fuel] = 'others'
    elif fuel == 'elektro':
        fuel_mapping[fuel] = 'electro'
    else:
        fuel_mapping[fuel] = fuel
fuel_mapping

{'benzin': 'benzin',
 'diesel': 'diesel',
 'lpg': 'lpg',
 'cng': 'cng',
 'hybrid': 'hybrid',
 'andere': 'others',
 'elektro': 'electro'}

In [62]:
autos['fuel_type'] = autos['fuel_type'].map(fuel_mapping)
autos['fuel_type']

0           lpg
1        benzin
2        benzin
3        benzin
4        benzin
          ...
49992       lpg
49993    benzin
49994    benzin
49996    benzin
49999    benzin
Name: fuel_type, Length: 43048, dtype: object

In [63]:
autos['fuel_type'].value_counts()

benzin     26361
diesel     12673
lpg          645
cng           65
hybrid        25
others        12
electro        4
Name: fuel_type, dtype: int64

### Cleaning the dates

Selecting the dates to be cleaned:

In [64]:
autos[['date_crawled', 'last_seen', 'ad_created']].head(5)

          date_crawled            last_seen           ad_created
0  2016-03-26 17:47:46  2016-04-06 06:45:54  2016-03-26 00:00:00
1  2016-04-04 13:38:56  2016-04-06 14:45:08  2016-04-04 00:00:00
2  2016-03-26 18:57:24  2016-04-06 20:15:37  2016-03-26 00:00:00
3  2016-03-12 16:58:10  2016-03-15 03:16:28  2016-03-12 00:00:00
4  2016-04-01 14:38:50  2016-04-01 14:38:50  2016-04-01 00:00:00

Turning it into numeric dates:

"2016-03-21" -> 20160321

In [65]:
def date_to_num(dt):
    dt = dt[:10]
    dt = dt.replace("-", "")
    dt = int(dt)
    return(dt)

date_cols = ['date_crawled', 'last_seen', 'ad_created']
new_dates = []

for col in date_cols:
    for dt in autos[col]:
        dt = date_to_num(dt)
        new_dates.append(dt)
    autos[col] = new_dates
    new_dates = []
        
autos[['date_crawled', 'last_seen', 'ad_created']].head(5)

   date_crawled  last_seen  ad_created
0      20160326   20160406    20160326
1      20160404   20160406    20160404
2      20160326   20160406    20160326
3      20160312   20160315    20160312
4      20160401   20160401    20160401

### Most common brand-model combinations

In [66]:
autos['brand-model'] = autos['brand'] + " - " + autos['model']
autos['brand-model']

0         peugeot - others
1                bmw - 7er
2        volkswagen - golf
3           smart - fortwo
4             ford - focus
               ...
49992        fiat - others
49993                  NaN
49994            audi - a6
49996         opel - astra
49999        opel - vectra
Name: brand-model, Length: 43048, dtype: object

In [67]:
autos['brand-model'].value_counts().sort_values(ascending=False).head(10)

volkswagen - golf           3507
bmw - 3er                   2519
volkswagen - polo           1579
opel - corsa                1561
volkswagen - passat         1334
opel - astra                1332
audi - a4                   1194
bmw - 5er                   1060
mercedes_benz - c_klasse    1048
mercedes_benz - e_klasse     857
Name: brand-model, dtype: int64

In [68]:
autos[['brand', 'model', 'fuel_type', 'vehicle_type']]

            brand   model fuel_type               vehicle_type
0         peugeot  others       lpg                        bus
1             bmw     7er    benzin                  limousine
2      volkswagen    golf    benzin                  limousine
3           smart  fortwo    benzin                  small car
4            ford   focus    benzin  combination motor vehicle
...           ...     ...       ...                        ...
49992        fiat  others       lpg                  small car
49993        audi     NaN    benzin                  small car
49994        audi      a6    benzin  combination motor vehicle
49996        opel   astra    benzin                convertible
49999        opel  vectra    benzin                  limousine

[43048 rows x 4 columns]

### Determining Price Patterns on Odometer Readings

We'll also be using aggregation to see if certain odometer readings have any relationship with average prices of cars. Based on the readings below, as the odometer readings increase, the average price of a car decreases.

In [69]:
odometer_uniq = autos['odometer_km'].value_counts().index
odometer_price = {}

for odo in odometer_uniq:
    selected_rows = autos[autos['odometer_km'] == odo]
    avg_price = selected_rows['price'].mean()
    odometer_price[odo] = avg_price
    
odometer_price

{150000: 3381.3818584647465,
 125000: 5155.002722513089,
 100000: 6079.79754601227,
 90000: 6534.750159744409,
 80000: 7511.172985781991,
 70000: 8064.0842105263155,
 60000: 8283.40947368421,
 50000: 8950.501877346684}

### Comparing damaged cars with non-damaged cars:

When it comes to the car's condition, non-damaged cars tend to be cheaper on average by around $3,000 compared to damaged cars

In [70]:
responses = autos['unrepaired_damage'].value_counts().index
price_per_cond = {}

for response in responses:
    selected_rows = autos[autos['unrepaired_damage'] == response]
    avg_price = selected_rows['price'].mean()
    price_per_cond[response] = avg_price

price_per_cond

{'no': 5084.466074553438, 'yes': 1904.4119318181818}